<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
<add name="DefaultConnection" сonnectionStrings="Data Source=sql6030.site4now.net;Initial Catalog=db_aa8564_shop;Persist Security Info=True;User ID=db_aa8564_shop_admin;Password=pwhlsx2m87fzb45;TrustServerCertificate=True"/>
</connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Shop.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: f01b218d-9601-4a74-b2c4-9fae6d7c56ce-->